<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="serviceName" source="spring.application.name" defaultValue="merchantflow"/>
    <springProperty scope="context" name="environment" source="DEPLOYMENT_ENVIRONMENT" defaultValue="local"/>

    <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                          "service_name":"${serviceName}",
                          "environment":"${environment}",
                          "level":"%level",
                          "logger":"%logger{40}",
                          "thread":"%thread",
                          "message":"%message"
                        }
                    </pattern>
                </pattern>
                <mdc/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_STDOUT"/>
    </root>
    <logger name="com.hmdp" level="DEBUG"/>
</configuration>
